.hover-scale {
    transition: transform 0.4s ease-in-out;
}

.hover-scale:hover {
    transform:  scale(1.05);
}

.text-hover-scale {
    transition: transform 0.4s ease-in-out;
}

.text-hover-scale:hover {
    transform: scale(1.05);
}

.text-about-h3 {
    padding: 5rem 0rem 1.5rem 0rem;
}

.text-about {
    max-width: 900px; 
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 7rem;
}
