@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body{
  font-family:"Montserrat", sans-serif;
  font-weight: 600;
}



.navbar-advertising{ 
  background: black;
  color: rgb(208, 208, 208);
}

.navbar-nav .nav-link {
  transition: all 0.3s ease;
  position: relative;
}

.navbar-nav .nav-link:hover {
  color: #660000;
  transform: translateY(-2px);
}

.navbar-nav .nav-link.active {
  color: #660000;
  font-weight: bold;
}

.navbar-collapse {
  transition: all 0.3s ease;
}

.footer {
  padding-top: 7rem;
  padding-bottom: 2rem;
  background-color: #F8F9FA;
  color: #8d8d8d;
}

.footer-conteiner {
  display: none;
}

.footer-items {
  max-width: 200px;
}

